<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:false,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;apptheme&quot;}">
  <meta name="vaadin-version" content="8.0.5">
 </head>
 <body>
  <vaadin-vertical-layout>
   <vaadin-label plain-text :center>
     Enter a local path to search for APKs and analyze them: 
   </vaadin-label>
   <vaadin-text-field placeholder="Enter local path to find APKs" width="70%" _id="field" :center></vaadin-text-field>
   <vaadin-button plain-text _id="findbutton" :center>
     Find APKs 
   </vaadin-button>
   <vaadin-list-select visible="false" rows="20" data-item-type="java.io.File" _id="listSelect" :center></vaadin-list-select>
   <vaadin-text-area visible="false" enabled="false" width="95%" height="400px" _id="textarea" :center></vaadin-text-area>
   <vaadin-button plain-text _id="analyzebutton" :center>
     Analyze Selected APKs 
   </vaadin-button>
  </vaadin-vertical-layout>
 </body>
</html>