<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:false,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;apptheme&quot;}">
  <meta name="vaadin-version" content="8.0.5">
 </head>
 <body>
  <vaadin-vertical-layout size-full>
   <vaadin-vertical-layout spacing="false" :center>
    <vaadin-image caption-as-html caption="<div id=&quot;logo&quot;></div>" width="200px" height="200px" _id="image" :center></vaadin-image>
    <vaadin-label style-name="h1 bold" plain-text :center>
      About 
    </vaadin-label>
    <vaadin-label width-full>
     <br>
     <div>
       App Privacy Analyzer is a web application that analyzes android applications (APKs) for privacy and security issues. You can find a list with all analyzed APKs and their details, but also you can upload your APK and see the results. The results of your APK will be saved in our list, so anyone can access them. 
     </div>
     <br>
     <div>
       The analysis system combines many popular static analysis tools such as Androguard, LibRadar, RiskInDroid, PScout to provide the analysis results. 
     </div>
     <br>
     <div>
      <b>Each analysis contains:</b>
     </div>
     <br>
     <div>
       Basic information: application name, file hash, package name, SDK version, etc. 
     </div>
     <div>
       Permission information: Extract permissions and detect if the declared permission is used or not. 
     </div>
     <div>
       Classification of application as dangerous or not. 
     </div>
     <div>
       Calculation of risk score of the application. 
     </div>
     <br>
     <div>
       The web application has been developed for my Diploma Project at University of Cyprus. 
     </div>
     <br>
     <br>
    </vaadin-label>
    <vaadin-label style-name="h1 bold" plain-text :center>
      Contact 
    </vaadin-label>
    <vaadin-label plain-text :center>
      Modestos Ioannou - Email: mioann47@cs.ucy.ac.cy OR modestosg9@hotmail.com 
    </vaadin-label>
    <vaadin-label plain-text :center>
      Georgia Kapitsaki - Email: gkapi@cs.ucy.ac.cy 
    </vaadin-label>
   </vaadin-vertical-layout>
  </vaadin-vertical-layout>
 </body>
</html>